[user]
    email = ivenvd@gmail.com
    name = Iven Hsu
    signingkey = D829E4EB662B22F8
[color]
    ui = auto
[diff]
    colorMoved = default
[core]
    excludesfile = ~/.global_ignore
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[pull]
    rebase = true
[push]
    default = matching
[commit]
    gpgsign = true
[format]
    signOff = true
[rebase]
    autoStash = true
