[user]
  email = ivenvd@gmail.com
  name = Iven Hsu
  signingkey = 0D4E54A797EF0597
[alias]
  st = status -sb
  co = checkout
  ps = push origin --all
  pl = pull --rebase --tags

  ci = commit -a
  cia = commit -a --amend

  df = diff
  dc = diff --cached

  ri = rebase -i
  rc = rebase --continue
  ra = rebase --abort

  br = branch
  tags = tag --list

  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  who = shortlog -sn
[color]
  ui = auto
[diff]
  # algorithm = histogram
  # wordregex = ",|.|=|'|\"|(|)|[^[:space:]()='\".,_]+"
  # wordregex = "=|'|\"|[^[:space:]()='\".,]+"
[core]
  excludesfile = ~/.global_ignore
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  plus-color = "#356054"
  minus-color = "#503524"
[push]
  default = matching
[gpg]
  program = gpg2
[commit]
  gpgsign = true
[format]
  signOff = true
[secrets]
  providers = git secrets --aws-provider
  patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
  templateDir = ~/.git-templates/git-secrets
[url "git@github.com:"]
  insteadOf = https://github.com/
